@model DunkeyDelivery.Areas.User.Models.LaundryProductsInCategory
@{
	ViewBag.Title = "Store Details";
	Layout = "~/Areas/User/Views/Shared/_Layout.cshtml";
}
<div class="top-banner product-detail-banner">
	<img src="~/Content/assets/images/alcohol-detail-banner.jpg" class="img img-responsive" />
	<div class="banner-inner-text" />
	<img src="@Model.StoreViewModel.ImageUrl" class="logo-img common-logo-height" />
	@*<h3 class="rating"><img src="~/Content/assets/images/rating.png" /> (225 Reviews)</h3>*@
	<div class="row">
		@for (var i = 1; i <= 5; i++)
		{
			if (Model.StoreViewModel.AverageRating == 0)
			{
				<span><i class="icon fa fa fa-star-o"></i></span>
			}
			else if (i - Model.StoreViewModel.AverageRating <= 0)
			{
				<span><i class="icon fa fa-star"></i></span>
				// rating
			}
			else if (i - Model.StoreViewModel.AverageRating < 1)
			{
				<span><i class="icon fa fa-star-half-full"></i></span>
				// half rating
			}
			else
			{
				<span><i class="icon fa fa-star-o"></i></span>
				// no rating
			}
		}
	</div>

	<h1 class="product-heading-banner">@Model.StoreViewModel.BusinessName</h1>

	<p class="banner-inner-data">@Model.StoreViewModel.Address</p>
	<p class="banner-inner-data">Min $<span id="min_order">@Model.StoreViewModel.MinOrderPrice</span>   |     Estimated time @Model.StoreViewModel.MinDeliveryTime min</p>
</div>
</div>
<div class="current-menu-paths">
	<div class="container">
		<p> Home > Restaurants   >  @Model.StoreViewModel.BusinessName </p>
	</div>
</div>

<div class="main-section product-detail-main pharmacy-details-main">

	<div class="container">
		<div class="row">


			<div class="col-md-9">
				<ul class="tabs-list clearfix">
					<li>
						<button class="tab-btn tablinks" onclick="openCity(event, 'London')" id="defaultOpen">Services</button>
					</li>
					<li>
						<button class="tab-btn tablinks" onclick="openCity(event, 'paris')">Reviews</button>
					</li>
					<li>
						<button class="tab-btn tablinks" id="info-tab" onclick="openCity(event, 'newyork')">Info</button>
					</li>
				</ul>

				<!-- TAB CONTENT -->

				<div class="tab1 tabcontent" id="London">
					<div class="row">
						<div class="col-md-12">

							<div class="tab">
								<div class="get-my-clothes clearfix">
									<p>
										Skip straight to checkout, then let the cleaner sort your stuff<br>
										and update your bill.
									</p>
									<a href="#" class="get_btn">GET MY CLOTHES</a>
								</div>

								<p class="select-tag">or select your items below</p>

                                @if (Model.laundryproducts.Count != 0)
                                {
                                    foreach (var category in Model.laundryproducts)
                                    {
                                        <div class="pharmacy-details clearfix Laundry-details">


                                            <h4>@category.Name</h4>
                                            <div class="Laundry-details-cont">
                                                <ul>
                                                    @if (category.Products.Count != 0)
                                                    {
                                                        foreach (var product in category.Products)
                                                        {

                                                            <li>
                                                                <a id="addCart" style="cursor:pointer" storeName="@Model.StoreViewModel.BusinessName" onclick="AddToCart('@product.Id', '@product.Name', '@product.Price', '@product.Size','@Model.StoreViewModel.Id')">
                                                                    <div class="left">
                                                                        @product.Name
                                                                        <p>@product.Description</p>
                                                                    </div>
                                                                    <div class="right">
                                                                        <span> $@product.Price</span>
                                                                    </div>
                                                                </a>

                                                            </li>




                                                        }
                                                    }
                                                    else
                                                    {
                                                        <li>
                                                                <a>
                                                                    <div class="left">No Result(s) Found</div>
                                                             
                                                                </a>

                                                        </li>
                                                    }
                                                </ul>
                                            </div>
                                        </div>

                                    }
                                }
                                else
                                {
                                    <div class="pharmacy-details clearfix Laundry-details">
                                        <h3 class="text-center">No Result(s) Found</h3>
                                    </div>
                                        }

                                    </div>
						</div>





					</div>
				</div>
				<div class="tab1 tabcontent" id="paris">
					<div class="reviews-main clearfix reviews-tab">
						<h4>Reviews</h4>
						<p class="based-on">
							<img src="~/Content/assets/images/rating.png" />
							Based on 8 ratings and 4 reviews
						</p>
						<ul>
							<li>
								<img src="~/Content/assets/images/rating.png" />
								<p>
									By: Yisroel H on Jan 5, 2017 | 1 review written | 1 order placed<br>
									The Quality here outdid any of my local butchers. The meat was fresh, juicy, and so
									tasty it literally blew me away.
								</p>
							</li>

							<li>
								<img src="~/Content/assets/images/rating.png" />
								<p>
									By: Yisroel H on Jan 5, 2017 | 1 review written | 1 order placed
									The Quality here outdid any of my local butchers. The meat was fresh, juicy, and so
									tasty it literally blew me away.
								</p>
							</li>

							<li>
								<img src="~/Content/assets/images/rating.png" />
								<p>
									By: Yisroel H on Jan 5, 2017 | 1 review written | 1 order placed
									The Quality here outdid any of my local butchers. The meat was fresh, juicy, and so
									tasty it literally blew me away.
								</p>
							</li>

							<li>
								<img src="~/Content/assets/images/rating.png" />
								<p>
									By: Yisroel H on Jan 5, 2017 | 1 review written | 1 order placed
									The Quality here outdid any of my local butchers. The meat was fresh, juicy, and so
									tasty it literally blew me away.
								</p>
							</li>

						</ul>
					</div>
				</div>
				<div class="tab1 tabcontent" id="newyork">

					<div class="location-info clearfix">
						<h3>
							@Model.StoreViewModel.Address
						</h3>
                        <div id="map"></div>


					</div>

					<div class="time-info clearfix" style="background-color:#FFF;">
                        <div class="col-md-12 nopadleft">
                            <h3>Delivery hours</h3>
                            <ul>
                                @if (Model.StoreViewModel.StoreDeliveryHours != null)
                                {
                                        <li> <div class="left">Mon @DateTime.Now.ToString("dd/MM") </div>      <div class="right">@Model.StoreViewModel.StoreDeliveryHours.Monday_From.ToString(@"hh\:mm")  - @Model.StoreViewModel.StoreDeliveryHours.Monday_To.ToString(@"hh\:mm")</div></li>
                                        <li> <div class="left">Tue @DateTime.Now.ToString("dd/MM") </div>      <div class="right">@Model.StoreViewModel.StoreDeliveryHours.Tuesday_From.ToString(@"hh\:mm")  - @Model.StoreViewModel.StoreDeliveryHours.Tuesday_To.ToString(@"hh\:mm")</div></li>
                                        <li> <div class="left">Wed @DateTime.Now.ToString("dd/MM") </div>      <div class="right">@Model.StoreViewModel.StoreDeliveryHours.Wednesday_From.ToString(@"hh\:mm")  - @Model.StoreViewModel.StoreDeliveryHours.Wednesday_To.ToString(@"hh\:mm")</div></li>
                                        <li> <div class="left">Thu @DateTime.Now.ToString("dd/MM") </div>      <div class="right">@Model.StoreViewModel.StoreDeliveryHours.Thursday_From.ToString(@"hh\:mm")  - @Model.StoreViewModel.StoreDeliveryHours.Thursday_To.ToString(@"hh\:mm")</div></li>
                                        <li> <div class="left">Fri @DateTime.Now.ToString("dd/MM") </div>      <div class="right">@Model.StoreViewModel.StoreDeliveryHours.Friday_From.ToString(@"hh\:mm")  - @Model.StoreViewModel.StoreDeliveryHours.Friday_To.ToString(@"hh\:mm")</div></li>
                                        <li> <div class="left">Sat @DateTime.Now.ToString("dd/MM") </div>      <div class="right">@Model.StoreViewModel.StoreDeliveryHours.Saturday_From.ToString(@"hh\:mm")  - @Model.StoreViewModel.StoreDeliveryHours.Saturday_To.ToString(@"hh\:mm")</div></li>
                                        <li> <div class="left">Sun @DateTime.Now.ToString("dd/MM") </div>      <div class="right">@Model.StoreViewModel.StoreDeliveryHours.Sunday_From.ToString(@"hh\:mm")  - @Model.StoreViewModel.StoreDeliveryHours.Sunday_To.ToString(@"hh\:mm")</div></li>

                                    
                                }
                                else
                                {

                                    <li> Delivery Time Not Available</li>
                                }


                            </ul>

                        </div>
					</div>


				</div>



			</div>

			<div class="col-md-3" id="OrderItems">

				@{

					Html.RenderAction("OrderItems", "Order", new { area = "User", MinOrder = Model.StoreViewModel.MinOrderPrice });
				}
			</div>
			<div class="col-md-3" id="Cart" style="display:none">
				@{
					Html.RenderAction("DeliveryTime", "Order", new { area = "User" });
				}

				@{
					Html.RenderAction("Cart", "Order", new { area = "User" });
				}
			</div>


		</div>


	</div>

</div>


<script>

        var BusinessName="@Model.StoreViewModel.BusinessName";
        var BusinessImage="@Model.StoreViewModel.ImageUrl";
        var PointerLoc= {lat: @Model.StoreViewModel.Latitude, lng:@Model.StoreViewModel.Latitude};
        BusinessImage=encodeURI(BusinessImage);
        $('#info-tab').on('click',function(){
            initMap();
            $("#map").click();
        });

        function initMap() {
            var myLatLng = PointerLoc;

            var map = new google.maps.Map(document.getElementById('map'), {
                zoom: 10,
                center: myLatLng
            });

            var marker = new google.maps.Marker({
                position: myLatLng,
                map: map

            });
        }

</script>
<script async defer
        src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBsTtPvdkmkD6v7vu9QRzrTEPXwdsLDu3Y&libraries=places&callback=initMap">
</script>

<script>
    function AddToCart(id, productName, price, size, StoreId) {
        var StoreName= $("#addCart").attr("storeName");
        console.log(JSON.stringify(StoreName));
        var data = {
            ItemId: id,
            name: productName,
            price: price,
            type: 0,
            size: size,
            StoreId: StoreId,
            StoreName: StoreName
        }
        $.post("@Url.Action("AddToCart","Order")", data,
            function (e) {
                $('#OrderItems').load('@Url.Action("OrderItems","Order", new { area = "User", MinOrder = Model.StoreViewModel.MinOrderPrice })')
                //e.preventDefault();
            })

        @* var xhr = new XMLHttpRequest();
        xhr.open("POST", '@Url.Action("AddToCart","Order")');
        //xhr.open('GET', '@Url.Action("AddToCart","Order")');
        xhr.setRequestHeader("Content-Type", "application/json");
        xhr.send(JSON.stringify({ product_id: id, name: productName, price: price, type: 0 }));
        *@
    }

</script>
