
@{
    ViewBag.Title = "Get Rewards";
    Layout = "~/Areas/User/Views/Shared/_Layout.cshtml";
}

@functions {
    double getPercentage(double total, double find)
    {
        return (find * 100) / total;
    }
}

@{
    var Points = ViewBag.RewardPoints;
    var listRewards = ViewBag.listRewards;
}

<style>
    .tooltip.tooltiptext {
        visibility: hidden;
        width: 180px;
        background-color: black;
        color: #fff;
        text-align: center;
        border-radius: 6px;
        padding: 5px 0;
        /* Position the tooltip */
        position: absolute;
        z-index: 1;
    }

    .tooltip:hover.tooltiptext {
        visibility: visible;
    }

    div.rewards-desc img {
        height: 160px;
    }
</style>

<div class="top-banner">
    <img src="~/Content/assets/images/rewards-banner.png" class="img img-responsive" />
    <div class="banner-inner-text">

        <p>Got Points? Get rewards!</p>
        <span class="desc">Earn 20 points for every $1 spent</span>
    </div>
</div>
<div class="current-menu-paths">
    <div class="container">
        <p> Home  >  Rewards</p>
    </div>
</div>

<section class="rewards-main">
    <div class="container">
        <div class="rewards-top clearfix">
            <div class="col-md-4">
                <img src="~/Content/assets/images/cup1.png" />
            </div>
            <div class="col-md-8">
                <h4>
                    @Points
                    <span> Points Earned</span>
                </h4>
                <div class="progress-main clearfix">
                    <h3><p class="left">$500</p><p class="right" style="float right;">Roku</p><p class="" style="text-align: center;">IPod</p>
                    </h3>
                    <div class="progress">

                        <div class="progress-bar" style="color:black;width:@getPercentage(500000,@Points)%;">@getPercentage(500000, @Points)%</div>
                    </div>
                    <h3><p class="left">10000</p><p class="right" style="float right;">5,00,000</p><p class="" style="text-align: center;">1,00,000 </p></h3>
</div>
            </div>
        </div>
        <ul>
            @foreach (var Reward in listRewards)
            {
                <li>
                    <div class="points-rewards">@Reward.PointsRequired Point Rewards</div>
                    <div class="rewards-desc">
                        @if (Reward.RewardPrize_Id == null)
                        {
                            <p class="rewards-points">
                                <sup>$</sup>@Reward.AmountAward
                            </p>
                            <h3>$@Reward.AmountAward Dunkey Delivery Credit</h3>
                        }
                        else
                        {
                            <div class="img img-responsive text-center">
                                <img src="@Reward.RewardPrize.ImageUrl" />
                            </div>
                            <h3>@Reward.RewardPrize.Name Dunkey Delivery Gift</h3>
                        }
                        <div class="tooltip">
                            <a class="learn-more-btn " href="#">Learn More</a>
                            <p class="tooltiptext">@Reward.Description</p>
                        </div>
                        <div class="progress">
                            <div class="progress-bar" style="width:@if (Points < Reward.PointsRequired)
                            { @getPercentage(Reward.PointsRequired, Points);
                            }
                            else
                            { <text>100</text>;
                            }%;"></div>
                        </div>
                        @if (Points < Reward.PointsRequired)
                        {
                            <span class="bar-status">>You are @(Reward.PointsRequired - Points) points away</span>
                            <a href="javascript:void()" class="redeem_btn deactive_btn">Redeem</a>
                        }
                        else
                        {
                            <span class="bar-status">>Congratulations! You can redeem your reward.</span>
                            <a href="@Url.Action("RedeemReward", "Footer", new { RewardID = Reward.Id })" class="redeem_btn active_btn">Redeem</a>
                        }
                    </div>
                </li>
            }


        </ul>

    </div>
</section>
@if (ViewBag.RewardMessage != string.Empty)
{
    <script>
        window.onload = function () {
            $("body").prepend($("#rewards-modal"))
        }
    </script>
    <div id="rewards-modal" style="line-height: 40px;font-size: 20px;text-align: center;background:#6ebe44;color:white;">
        @ViewBag.RewardMessage
        <a href="javascript:void()" onclick="$('#rewards-modal').hide()" style="float: right;margin-right: 15px;font-weight: bold;color: white;">X</a>
    </div>
}
