@model DunkeyDelivery.Areas.User.Models.CategoryProductViewModel
<div class="col-md-8">
    <div class="tab1-right">
        <h1 class="right-heading" id="categoryName"></h1>
        <div id="productDetails">
            @if (Model.Products.Count() < 1)
            {
                <p style="margin-left: 16px;">Products Not Found</p>
            }
            @foreach (var product in Model.Products)
            {
                <div class="single-product-show">
                    <div class="row">
                        <div class="col-md-5">
                            <h1>@product.Name</h1>
                            <p>
                                @product.Description
                            </p>
                        </div>
                        <div class="col-md-4"> <h4>@product.Size</h4></div>
                        <div class="col-md-3"><h4>$@product.Price  <span><a id="addCart" style="cursor:pointer" storeBusinessTypeTax="@Model.shopViewModel.BusinessTypeTax" storeBusinessType="@Model.shopViewModel.BusinessType" storeName="@product.Store.BusinessName" onclick="AddToCart('@product.Id', '@product.Name', '@product.Price', '@product.Size','@product.Store.Id','@Model.shopViewModel.MinOrderPrice')"><i class="fa fa-plus"></i></a></span></h4></div>
                    </div>

                </div>
            }
        </div>
    

    </div>
</div>
<script type="text/javascript" src="~/Scripts/jquery-1.10.2.min.js"></script>

