@model DunkeyDelivery.Areas.User.Models.ProfileViewModel



    <div class="content-div clearfix">


        <div class="search-bar clearfix padh4">
            <h4>Profile</h4>
            <!--<form>
            <input type="text"  placeholder="search" />
            <input type="submit" />
              </form>-->
        </div>

        <div class="content-main clearfix">

            @*<div class="col-md-3 nopadleft">
                <img src="~/Content/assets/images/profile.png" />



            </div>*@
        @using (Ajax.BeginForm("EditProfile", "Profile", new AjaxOptions { OnSuccess = "customSuccessMessage", OnFailure = "customErrorMessage" }))
        {
            @Html.AntiForgeryToken()
            <div class="col-md-12 no-pad">
                <ul class="profile">

                    <li>
                        @Html.TextBoxFor(x => x.FName, new { name = "FName", @placeholder = "First Name", value = Model.FName })
                        @Html.ValidationMessageFor(m => m.FName, "", new { @class = "text-danger error" })
                   @*<input type="text" placeholder="First Name" name="FName" value="@Model.FName" />*@
                 
                    </li>

                    <li>
                        @Html.TextBoxFor(x => x.LName, new { name = "LName", @placeholder = "Last Name", value = Model.LName })
                        @Html.ValidationMessageFor(m => m.LName, "", new { @class = "text-danger error" })
                    </li>




                    @*<li><input type="text"  placeholder="First name*" value="@Model.FirstName" /></li>

            <li><input type="text" placeholder="Last name*" value="@Model.LastName" /></li>*@
                    <li class=""><input type="Email" placeholder="Email"  value="@Model.EmailAddress" disabled readonly /></li>

                    <li>
                        @Html.TextBoxFor(x => x.Password, new { name = "Password", @placeholder = "Password" })
                        @Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger error" })
                    </li>
                    <li>
                        @Html.TextBoxFor(x => x.ConfirmPassword, new { name = "ConfirmPassword", @placeholder = "Confirm Password" })
                        @Html.ValidationMessageFor(m => m.ConfirmPassword, "", new { @class = "text-danger error" })
                    </li>
                    @*<li style="width:96%;" ><input type="text" placeholder="Confirm new password" /></li>*@
                </ul>
            </div>





            <div class="col-md-12 nopad">
                <h4 class="sms-noti">SMS Notifications</h4>
                <div class="checkbox clearfix">
                    <p>
                        <input type="checkbox" id="e1" value="economy" name="class">
                        <label for="e1"><span></span></label>
                        <label>Send me order updates via text message. (Standard rates may apply.)</label>
                    </p>


                </div>

                
                <input type="Email" name="EmailAddress" value="@Model.EmailAddress" style="display:none;" />

                <input type="submit" value="Save" class="save" />
                <div id="SuccessNotifications" style="display: none;margin-top: 11px;">
                    <p id="ModalNotification" style="color:green;display:none;">Changes Saved Successfully</p>

                </div>
                <div style="color:red;" class="alert alert-error" id="error-alert" hidden>

                    <span></span>
                </div>
            </div>


        }
            

        </div>
    </div>
