@model DunkeyDelivery.Areas.User.Models.PharmacyViewModel
@{
    ViewBag.Title = "Store Details";
    Layout = "~/Areas/User/Views/Shared/_Layout.cshtml";
}
<script>
    var fields=0;


</script>

<link href="https://code.jquery.com/ui/1.10.4/themes/ui-lightness/jquery-ui.css"
      rel="stylesheet">
<script src="https://code.jquery.com/jquery-1.10.2.js"></script>
<script src="https://code.jquery.com/ui/1.10.4/jquery-ui.js"></script>

<div class="top-banner product-detail-banner">
    <img src="~/Content/assets/images/pharmacy-banner.png" class="img img-responsive" />
    <div class="banner-inner-text" />
    <img src="@Model.storeViewModel.ImageUrl" class="logo-img common-logo-height" />
    <div class="row">
        @for (var i = 1; i <= 5; i++)
        {
            if (Model.storeViewModel.AverageRating == 0)
            {
                <span><i class="icon fa fa fa-star-o"></i></span>}
            else if (i - Model.storeViewModel.AverageRating <= 0)
            {
                <span><i class="icon fa fa-star"></i></span>    // rating
            }
            else if (i - Model.storeViewModel.AverageRating < 1)
            {
                <span><i class="icon fa fa-star-half-full"></i></span>    // half rating
            }
            else
            {
                <span><i class="icon fa fa-star-o"></i></span>    // no rating
            }
        }
    </div>
    <h1 class="product-heading-banner">@Model.storeViewModel.BusinessName</h1>

    <p class="banner-inner-data">@Model.storeViewModel.Address</p>
    <p class="banner-inner-data">Min $ @Model.storeViewModel.MinOrderPrice  |  Estimated time @Model.storeViewModel.MinDeliveryTime min</p>
</div>
</div>
<div class="current-menu-paths">
    <div class="container">
        <p> Home > Restaurants   >  @Model.storeViewModel.BusinessName </p>
    </div>
</div>

<div class="main-section product-detail-main pharmacy-details-main">

    <div class="container">
        <div class="row">
            <div class="col-md-9">
                <ul class="tabs-list clearfix">
                    <li>
                        <button class="tab-btn tablinks" onclick="openCity(event, 'London')" id="defaultOpen">Menu</button>
                    </li>
                    <li>
                        <button class="tab-btn tablinks" onclick="openCity(event, 'paris')">Reviews</button>
                    </li>
                    <li>
                        <button class="tab-btn tablinks" id="info-tab" onclick="openCity(event, 'newyork')">Info</button>
                    </li>
                </ul>

                <!-- TAB CONTENT -->
                @using (Ajax.BeginForm("SubmitPharmacyForm", "Pharmacy",FormMethod.Post, new AjaxOptions { OnSuccess = "test", OnFailure = "failtest" }))
                {
                   @Html.AntiForgeryToken()
                    <div class="tab1 tabcontent" id="London">
                        <div class="row">
                            <div class="col-md-12">

                                <div class="tab">
                                    <div class="pharmacy-details clearfix">
                                        <h4>DRUGS DetailS</h4>
                                        <div class="pharmacy-details-cont">
                                            <p>You may add multiple medications below</p>
                                            <div id="more_fields" >
                                                <input type="text" id="0" name="medication" placeholder="Enter Medication" autocomplete="off"/>


                                            </div>
                                            @*@Html.TextBoxFor(x => x.medication, new { name = "medication", @placeholder = "Xanax", @autocomplete = "off" })
                                            @Html.ValidationMessageFor(m => m.medication, "", new { @class = "text-danger error" })*@
                                            <a onclick="add_fields()" style="cursor:pointer">Add more Medication</a>


                                        </div>

                                    </div>

                                    <div class="pharmacy-details clearfix">
                                        <h4>Who Worte your prescription</h4>
                                        <div class="pharmacy-details-cont">
                                            <p>The pharmacy will confirm your Rx with this doctor</p>
                                            <div class="bottom-margin">
                                                @Html.TextBoxFor(x => x.DoctorFirstName, new { name = "DoctorFirstName", @placeholder = "Doctor First Name" })
                                                @Html.ValidationMessageFor(m => m.DoctorFirstName, "", new { @class = "text-danger error" })
                                            </div>
                                            <div class="bottom-margin">
                                                @Html.TextBoxFor(x => x.DoctorLastName, new { name = "DoctorLastName", @placeholder = "Doctor Last Name" })
                                                @Html.ValidationMessageFor(m => m.DoctorLastName, "", new { @class = "text-danger error" })
                                            </div>
                                            <div class="bottom-margin">
                                                @Html.TextBoxFor(x => x.DoctorPhone, new { name = "DoctorPhone", @placeholder = "Doctor Phone" })
                                                @Html.ValidationMessageFor(m => m.DoctorPhone, "", new { @class = "text-danger error" })
                                            </div>

                                        </div>

                                    </div>

                                    <div class="pharmacy-details clearfix">
                                        <h4>PATIENT DETAILS</h4>
                                        <div class="pharmacy-details-cont">
                                            <p> We use encryption to keep your information safe.</p>
                                            <div class="bottom-margin">
                                                @Html.TextBoxFor(x => x.PatientFirstName, new { name = "PatientFirstName", @placeholder = "Enter First Name" })
                                                @Html.ValidationMessageFor(m => m.PatientFirstName, "", new { @class = "text-danger error" })
                                            </div>
                                            <div class="bottom-margin">
                                                @Html.TextBoxFor(x => x.DoctorLastName, new { name = "DoctorLastName", @placeholder = "Enter Last Name" })
                                                @Html.ValidationMessageFor(m => m.DoctorLastName, "", new { @class = "text-danger error" })
                                            </div>

                                            <div class="row">
                                                <div class="col-md-6" style="padding-left:0px;">
                                                   <input type="text" name="DateOfBirth" placeholder="Birth Date" id="datepicker-13">

                                                    @*@Html.TextBoxFor(x => x.DateOfBirth, new { name = "DateOfBirth", @placeholder = "Birth Date" })*@
                                                    @Html.ValidationMessageFor(m => m.DateOfBirth, "", new { @class = "text-danger error" })
                                                </div>
                                                <div class="col-md-6" style="padding-right:0px;">
                                                    <select style="height: 56px;padding-bottom: 0px;padding-top: 0px;" required>
                                                        <option>Gender</option>
                                                        <option>Male</option>
                                                        <option>Female</option>
                                                    </select>
                                                </div>
                                            </div>
                                        </div>

                                    </div>

                                    <div class="pharmacy-details clearfix">
                                        <h4>DeLivery Details</h4>
                                        <div class="pharmacy-details-cont">
                                            <p> Your address will be sent securely to the pharmacy</p>
                                                <div class="row" style="margin-bottom:15px;">
                                                    @Html.TextBoxFor(x => x.Address, new { name = "Address", @placeholder = "Address" })
                                                    @Html.ValidationMessageFor(m => m.Address, "", new { @class = "text-danger error" })
                                                </div>
                                                <div class="row" style="margin-bottom:15px;">
                                                    <div class="col-md-6" style="padding-left:0px;">
                                                        @Html.TextBoxFor(x => x.City, new { name = "City", @placeholder = "City" })
                                                        @Html.ValidationMessageFor(m => m.City, "", new { @class = "text-danger error" })
                                                    </div>

                                                    <div class="col-md-3">
                                                        @Html.TextBoxFor(x => x.State, new { name = "State", @placeholder = "State" })
                                                        @Html.ValidationMessageFor(m => m.State, "", new { @class = "text-danger error" })
                                                    </div>
                                                    <div class="col-md-3" style="padding-right:0px;">
                                                        @Html.TextBoxFor(x => x.ZipCode, new { name = "ZipCode", @placeholder = "Zip Code" })
                                                        @Html.ValidationMessageFor(m => m.ZipCode, "", new { @class = "text-danger error" })
                                                    </div>


                                                </div>


                                            <div class="row" style="margin-bottom:15px;">
                                                @Html.TextBoxFor(x => x.DeliveryPhone, new { name = "DeliveryPhone", @placeholder = "Phone Number" })
                                                @Html.ValidationMessageFor(m => m.DeliveryPhone, "", new { @class = "text-danger error" })

                                            </div>
                                                <p id="test" style="color:green;display:none;">Your request is submitted. We will contact you shortly.</p>

                                                <input type="submit" value="SUBMIT" />

                                            </div>

                                        </div>


                                    </div>
                                </div>





                            </div>
                        </div>
                        }
                        <div class="tab1 tabcontent" id="paris">
                            <h1>No content</h1>
                        </div>
                        <div class="tab1 tabcontent" id="newyork">

                            <div class="location-info clearfix">
                                <h3>
                                    @Model.storeViewModel.Address
                                </h3>
                                <div id="map"></div>


                            </div>

                            <div class="time-info clearfix" style="background-color:#FFF;">
                                <div class="col-md-12 nopadleft">
                                    <h3>Delivery hours</h3>
                                    <ul>
                                        @if (Model.storeViewModel.StoreDeliveryHours.Count() != 0)
                                        {

                                            foreach (var item in Model.storeViewModel.StoreDeliveryHours)
                                            {

                                                <li> <div class="left">Mon @DateTime.Now.ToString("dd/MM") </div>      <div class="right">@item.Monday_From.ToString(@"hh\:mm")  - @item.Monday_To.ToString(@"hh\:mm")</div></li>
                                                <li> <div class="left">Tue @DateTime.Now.ToString("dd/MM") </div>      <div class="right">@item.Tuesday_From.ToString(@"hh\:mm")  - @item.Tuesday_To.ToString(@"hh\:mm")</div></li>
                                                <li> <div class="left">Wed @DateTime.Now.ToString("dd/MM") </div>      <div class="right">@item.Wednesday_From.ToString(@"hh\:mm")  - @item.Wednesday_To.ToString(@"hh\:mm")</div></li>
                                                <li> <div class="left">Thu @DateTime.Now.ToString("dd/MM") </div>      <div class="right">@item.Thursday_From.ToString(@"hh\:mm")  - @item.Thursday_To.ToString(@"hh\:mm")</div></li>
                                                <li> <div class="left">Fri @DateTime.Now.ToString("dd/MM") </div>      <div class="right">@item.Friday_From.ToString(@"hh\:mm")  - @item.Friday_To.ToString(@"hh\:mm")</div></li>
                                                <li> <div class="left">Sat @DateTime.Now.ToString("dd/MM") </div>      <div class="right">@item.Saturday_From.ToString(@"hh\:mm")  - @item.Saturday_To.ToString(@"hh\:mm")</div></li>
                                                <li> <div class="left">Sun @DateTime.Now.ToString("dd/MM") </div>      <div class="right">@item.Sunday_From.ToString(@"hh\:mm")  - @item.Sunday_To.ToString(@"hh\:mm")</div></li>

                                            }
                                        }
                                        else
                                        {

                                            <li> Delivery Time Not Available</li>
                                        }


                                    </ul>

                                </div>
                            </div>
                        </div>

                        <script>
                            function test() {

                                $("#test").show();
                            }
                            function failtest() {

                                $("#failtest").show();
                            }

                        </script>

                    </div>

                </div>


            </div>

        </div>
<script>

        var BusinessName="@Model.storeViewModel.BusinessName";
        var BusinessImage="@Model.storeViewModel.ImageUrl";
        var PointerLoc= {lat: @Model.storeViewModel.Latitude, lng:@Model.storeViewModel.Latitude};
        BusinessImage=encodeURI(BusinessImage);
        $('#info-tab').on('click',function(){
            initMap();
            $("#map").click();
        });

        function initMap() {
            var myLatLng = PointerLoc;

            var map = new google.maps.Map(document.getElementById('map'), {
                zoom: 10,
                center: myLatLng
            });

            var marker = new google.maps.Marker({
                position: myLatLng,
                map: map

            });
        }

    

</script>
<script async defer
        src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBsTtPvdkmkD6v7vu9QRzrTEPXwdsLDu3Y&libraries=places&callback">
</script>
<script>
    function add_fields(){
        $("#more_fields").append('<input type="text" id="'+fields+'" name="medication" placeholder="Enter Medication" autocomplete="off"/>');
        fields++;
        
    }
    //$(document).ready(function() {
    //    var max_fields = 20; //maximum input boxes allowed
    //    var wrapper = $("#items"); //Fields wrapper
    //    var add_button = $(".add_field_button"); //Add button ID
 
    //    var x = 1; //initlal text box count
    //    $(add_button).click(function(e){ //on add input button click
    //        e.preventDefault();
    //        if(x < max_fields){ //max input box allowed
    //            x++; //text box increment
    //            $(wrapper).append('<div class="form-group"><label for="title">Author Email:</label>' + '<input class="form-control col-md-11" id="author_email" type="email" placeholder=""name="author"/>' +'<a href="#" class="remove_field"><i class="fa fa-times"></a></div>'); //add input box
    //        }
    //    });
 
    //    $(wrapper).on("click",".remove_field", function(e){ //user click on remove field
    //        e.preventDefault(); $(this).parent('div').remove(); x--;
    //    })
    //});

</script>
        <script>

            function openCity(evt, cityName) {
                // Declare all variables
                var i, tabcontent, tablinks;

                // Get all elements with class="tabcontent" and hide them
                tabcontent = document.getElementsByClassName("tabcontent");
                for (i = 0; i < tabcontent.length; i++) {
                    tabcontent[i].style.display = "none";
                }

                // Get all elements with class="tablinks" and remove the class "active"
                tablinks = document.getElementsByClassName("tablinks");
                for (i = 0; i < tablinks.length; i++) {
                    tablinks[i].className = tablinks[i].className.replace(" active", "");
                }

                // Show the current tab, and add an "active" class to the button that opened the tab
                document.getElementById(cityName).style.display = "block";
                evt.currentTarget.className += " active";


            }
            // Get the element with id="defaultOpen" and click on it
            document.getElementById("defaultOpen").click();

        </script>
<script type="text/javascript">
    $( "#datepicker-13" ).datepicker();
</script>   