@model BasketWebPanel.BindingModels.ResetPasswordBindingModel
@{
    ViewBag.Title = "ResetPassword";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@using (Ajax.BeginForm("ResetPassword", "Home", new AjaxOptions { OnSuccess = "OnPasswordResetSuccess", OnFailure = "OnFailedInsertion", LoadingElementId = "divLoader" }))
{
        <div class="row">
            <div class="right_col" role="main">
                <div class="x_panel ">
                    <div class="alert alert-success" id="success-alert" hidden>
                        <button type="button" class="close" data-dismiss="alert">x</button>
                        <strong>Success! Logging out... </strong>
                    </div>
                    <div class="alert alert-error" id="error-alert" hidden>
                        <button type="button" class="close" data-dismiss="alert">x</button>
                        <strong>Error! </strong> <span> </span>
                    </div>
                    <div class="x_title">
                        <h3 class="pull-left">Reset Password</h3>
                        <div class="pull-right">
                            <button type="submit" id="btnResetPassword" class="btn btn-success"><i class="fa fa-plus-square"></i>  Save</button>
                        </div>
                        <div class="clearfix"></div>
                    </div>
                    <div class="x_content">
                        <div class="form-group">
                            <div class="row">
                                <div class="col-lg-3 col-md-3 col-sm-4 col-xs-6" style="text-align:right; ">
                                    <label class="control-label" for="">Old Password</label>
                                    <span class="ico-help" title="Enter your old password"><i class="fa fa-question-circle"></i></span>
                                </div>
                                <div class="col-md-4 col-sm-4 col-xs-5">
                                    @Html.PasswordFor(x => x.OldPassword, new { @autofocus = "", @class = "form-control text-box single-line", id = "password1", @placeholder = "Old Password" })
                                    @Html.ValidationMessageFor(x => x.OldPassword, "", new { @class = "text-danger" })
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="row">
                                <div class="col-lg-3 col-md-3 col-sm-4 col-xs-6" style="text-align:right; ">
                                    <label class="control-label" for="">New Password</label>
                                    <span class="ico-help" title="Enter your new password"><i class="fa fa-question-circle"></i></span>
                                </div>
                                <div class="col-md-4 col-sm-4 col-xs-5">
                                    @Html.PasswordFor(x => x.NewPassword, new { @autofocus = "", @class = "form-control text-box single-line", id = "password2", @placeholder = "New Password" })
                                    @Html.ValidationMessageFor(x => x.NewPassword, "", new { @class = "text-danger" })
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="row">
                                <div class="col-lg-3 col-md-3 col-sm-4 col-xs-6" style="text-align:right; ">
                                    <label class="control-label" for="">Confirm New Password</label>
                                    <span class="ico-help" title="Enter your confirm password"><i class="fa fa-question-circle"></i></span>
                                </div>
                                <div class="col-md-4 col-sm-4 col-xs-5">
                                    @Html.PasswordFor(x => x.ConfirmNewPassword, new { @autofocus = "", @class = "form-control text-box single-line", id = "password3", @placeholder = "Confirm New Password" })
                                    @Html.ValidationMessageFor(x => x.ConfirmNewPassword, "", new { @class = "text-danger" })
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
    </div>
}

<script>
    function OnPasswordResetSuccess() {
        $("#success-alert").fadeTo(2000, 500).slideUp(500, function () {
            $("#success-alert").slideUp(500, function () {
                window.location.href = "@Url.Action("LogOff", "Account", new { Area = "" })";
            });
        });
    }
    </script>
