@model DunkeyDelivery.Models.LoginViewModel
@{
    Layout = "~/Areas/User/Views/Shared/_BannerLayout.cshtml";
}

@*<meta name="google-signin-client_id" content="1045044413490-vkhi1ntvbqglmu11p1j29tkjk31pdd1l.apps.googleusercontent.com">*@


<script>
    //function onSuccess(googleUser) {
    //    debugger;
    //    var FirstName = googleUser.getBasicProfile().getGivenName();
    //    var LastName = googleUser.getBasicProfile().getFamilyName();
    //    var Email = googleUser.getBasicProfile().getEmail();
    //    var ImageUrl = googleUser.getBasicProfile().getImageUrl();

    //    window.location.href = "/Gmail/GmailCallback?FirstName=" + FirstName + "&&LastName=" + LastName + "&&Email=" + Email + "&&ImageUrl=" + ImageUrl
    //}
    //function onFailure(error) {
    //    console.log(error);
    //}

</script>

@*<script src="https://apis.google.com/js/platform.js" async defer></script>*@

<div class="main-section login-main-section greybg">
    <div class="container">

        <div class="row">
            <div class="col-md-6">
                <h1>LOGIN TO Dunkey Delivery</h1>
              
                @using (Html.BeginForm("Login", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
                {
                    @Html.AntiForgeryToken()

                    <input type="text" placeholder="Email Address" name="Email" id="form-inputs" data-val="true" class="form-control input-validation-error" data-val-required="Email is required" value="@Model.Email" />
                    @Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-danger", @autocomplete = "off" })
                    <input type="password" name="Password" placeholder="Password" id="form-inputs" onkeyup="removeInvalidError()" data-val="true" class="form-control input-validation-error" data-val-required="Password is required" value="@Model.Password" />
                    @Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger", @autocomplete = "off" })



                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                    @Html.ValidationMessage("Error")
                    <div class="row" style="margin-left:0px;">
                        <button type="submit" class="btn btn-submit btn-login">Login</button>
                        <a href="@Url.Action("ForgetPassword","Home",new { area = "User" })" class="forget_pass">Forgot Password?</a>
                    </div>
                        @*</form>*@

                        }

                <div class="elinks">

                    <span><img src="~/Content/assets/images/or.png" alt=""></span>

                    <a href="@Url.Action("Facebook","Facebook")"><img src="~/Content/assets/images/facebook.png" alt=""></a>

                </div>

                <br />

                <div class="g-signin2" data-width="550" data-height="50" data-theme="dark" data-onsuccess="onSuccess"></div>

                    </div>
            <script>
                function removeInvalidError() {
                    $(".validation-summary-errors").text("");
                }

            </script>
                    <div class="col-md-6">
                        <h1>New User? Signup</h1>
                       
                        <a href="@Url.Action("SignUp","Account")"><button class="Register_btn">Register Now</button></a>
                    </div>



                </div>
            </div>
        </div>
