@model BasketWebPanel.ViewModels.SearchProductsViewModel
@*/////StarRatingPlugin*@
<link href="~/Content/bootstrap-starrating/star-rating.css" rel="stylesheet" />
<script src="~/Content/bootstrap-starrating/star-rating.js"></script>

<style>
    .table caption + thead tr:first-child th,
    .table colgroup + thead tr:first-child th,
    .table thead:first-child tr:first-child th,
    .table caption + thead tr:first-child td,
    .table colgroup + thead tr:first-child td,
    .table thead:first-child tr:first-child td {
        border-top: 0;
        text-align: center;
        vertical-align: central;
    }
    .caption {
        background: transparent !important;
    }
   </style>


<div class="panel-body panel">
    @using (Html.BeginForm("ExportProduct", "Product", FormMethod.Post))
    {
        @Html.AntiForgeryToken()
    <div class="row" style="text-align: right;margin-right: 3px;" >
        <button type="submit" class="btn btn-success btn-sm text-right"> <i style="font-size: 15px;" class="fa fa-file-excel-o" aria-hidden="true"></i> Export Data </button>
    </div>
    }
    <div class="">
        <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="x_content">
                    <div class="table-responsive" style="overflow-x:auto; overflow-y:hidden">
                        <table id="datatable" class="table table-striped table-bordered " style="table-layout: auto; text-align:center;">
                            <thead>
                                <tr>
                                    <th class="middled sorting_disabled" style="vertical-align:middle">ID</th>
                                    <th style="vertical-align:middle">Product Name</th>
                                    <th style="vertical-align:middle">Ratings</th>
                                    @*<th style="vertical-align:middle">Product Price</th>*@
                                    <th style="vertical-align:middle">Store Name</th>
                                    <th style="vertical-align:middle">Category Name</th>
                                    <th style="vertical-align:middle;">Product Image</th>
                                    <th class="centered" style="vertical-align:middle">Edit</th>
                                    <th class="centered" style="vertical-align:middle">Delete</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var product in Model.Products)
                                {
                                    <tr>
                                        <td style="vertical-align:middle">@product.Id</td>
                                        <td style="vertical-align:middle">@product.Name</td>
                                        <td style="vertical-align:middle"><input id="input-2" name="input-2" class="rating rating-loading" data-min="0" data-max="5" data-step="0.1" value="@product.AverageRating"></td>
                                        @*<td style="vertical-align:middle">@product.Price</td>*@
                                        <td style="vertical-align:middle">@product.StoreName</td>
                                        <td style="vertical-align:middle">@product.CategoryName</td>
                                        <td style="vertical-align:middle; "><img src="@ApiCall.BaseUrl@product.Image" style="height:35px;width:100px; max-height:35px;max-width:100px" class="normal" /></td>
                                        <td class="centered" style="vertical-align:middle"><p data-placement="top" data-toggle="tooltip" style="margin:3px 0px 0px" title="" data-original-title="Edit"><button class="btn btn-primary btn-xs editButtons" data-title="Edit" data-productid="@product.Id" data-toggle="modal"><span class="glyphicon glyphicon-pencil"></span></button></p></td>
                                        <td class="centered" style="vertical-align:middle"><p data-placement="top" data-toggle="tooltip" style="margin:3px 0px 0px" title="" data-original-title="Delete"><button class="btn btn-danger btn-xs deleteButtons" data-title="Delete" data-productId="@product.Id" data-toggle="modal" data-target="#deleteModal"><span class="glyphicon glyphicon-trash"></span></button></p></td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                        
                     

                        <script>
                       
                            $(document).on("click", ".deleteButtons", function () {
                                var productId = $(this).data('productid');
                                $("#productid").val(productId);
                            });

                            $(document).on("click", ".editButtons", function () {
                                var productId = $(this).data('productid');
                                var url = '@Url.Action("Index", "Product", new { ProductId = "__id__" })';
                                window.location.href = url.replace('__id__', productId);
                            });

                            $(document).ready(function () {
                                var dataTable = $('#datatable').DataTable({
                                  
                                    "pagingType": "full_numbers",
                                    "columnDefs": [{
                                        "targets": 5,
                                        "orderable": false
                                    },
                                    {
                                        "targets": 6,
                                        "orderable": false
                                    },
                                    {
                                        "targets": 7,
                                        "orderable": false
                                    }
                                    ],

                                });
                            });


                        </script>
                    </div>
                </div>
            </div>
        </div>
    </div>
    @*/////DeletePopUp*@
    <div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="edit" aria-hidden="true" style="display: none;">
        <div class="modal-dialog">
            <input type="hidden" id="productid" value="" />
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" id="btnDeleteClose" class="close" aria-hidden="true"><span class="glyphicon glyphicon-remove" aria-hidden="true"></span></button>
                    <h4 class="modal-title custom_align" id="Heading">Delete this entry</h4>
                </div>
                <div class="modal-body">
                    <div class="alert alert-danger"><span class="glyphicon glyphicon-warning-sign"></span>Are you sure you want to delete this Product?</div>
                    <label id="lblErrorOnDelete" hidden class="text-danger"></label>
                </div>
                <div class="modal-footer ">
                    <button type="button" id="btnDeleteYes" class="btn btn-success"><span class="glyphicon glyphicon-ok-sign"></span>&nbsp;Yes</button>
                    <button type="button" id="btnDeleteNo" class="btn btn-default"><span class="glyphicon glyphicon-remove"></span>&nbsp;No</button>
                </div>
            </div>
            <!-- /.modal-content -->
        </div>
        <!-- /.modal-dialog -->
    </div>
</div>




<script>

    $('#btnDeleteNo').on("click", function (e) {
        $('#deleteModal').modal('hide');
        var lblError = $("#lblErrorOnDelete");
        lblError.text("");
        lblError.hide();
    });

    $('#btnDeleteClose').on("click", function (e) {
        $('#deleteModal').modal('hide');
        var lblError = $("#lblErrorOnDelete");
        lblError.text("");
        lblError.hide();
    });

    $('#btnDeleteYes').on("click", function (e) {
        var productId = $("#productid").val();
        var url = '@Url.Action("DeleteProduct", "Product")';
        var lblError = $("#lblErrorOnDelete");
        $.get(url, { ProductId: productId }, function (data) {
            if (data == "Success") {
                $('#deleteModal').modal('hide');
                $(".modal-backdrop").fadeOut('slow', function () {
                    var table = $('#datatable').DataTable();

                    var indexes = table.rows().eq(0).filter(function (rowIdx) {
                        return table.cell(rowIdx, 0).data() === productId ? true : false;
                    });
                    table.rows(indexes).remove().draw(false);
                    //var aa = b;
                    //var b = table.fnFindCellRowIndexes(productId, table.column('#ID').index());
                    //var c = b;
                    //table.row().remove().draw(false);
                    //$('#datatable tbody tr').filter(function () {
                    //    var columnTh = $("#datatable th:contains('ID')");
                    //    columnIndex = columnTh.index();
                    //    return $.trim($(this).find('td').eq(columnIndex).text()) === productId
                    //}).hide();
                });
                lblError.text("");
                lblError.hide();
            }
            else {
                lblError.text(data);
                lblError.show();
            }
        });
    });

    function OnSuccessProductInsertion(res) {
        $("#divLoader").hide();

        //uriContent = "data:application/vnd.openxmlformats-officedocument.spreadsheetml.sheet," + encodeURIComponent(res);
        //newWindow = window.open(uriContent, 'neuesDokument');
        //window.location = "download." + res;

        //var win = window.open(res, '_blank');
       

    }
</script>
